<form class="form" action="index.html" method="post">

  <div>
    <label for="city">
      Select city:
    </label>

    <p>Select city {{ selectedCity }} using ng model</p>

    <select name="cities" [(ngModel)] = "selectedCity">
      <option value="Amsterdam">Amsterdam</option>
      <option value="Berlin">Berlin</option>
      <option value="London">London</option>
      <option value="Frankfurt">Frankfurt</option>
    </select>
  </div>


  <div>
    <label for="date">
      Choose a date:
    </label>
    <p>Select date {{ selectedDate }} using ng model</p>

    <input type="date" (change)="sendDataOnChange($event)" [(ngModel)] = "selectedDate">
  </div>



  <div>
    <button (click)="searchEvent()" class="button">Search Events</button>
  </div>

</form>
